<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.house.mapper.TenantMapper">
    <resultMap id="BaseResultMap" type="com.house.model.Tenant">
        <result column="tenant_id" property="tenantId" />
        <result column="tenant_name" property="tenantName" />
        <result column="tenant_phone" property="tenantPhone" />
        <result column="tenant_card" property="tenantCard" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_name" property="createName" />
        <result column="update_name" property="updateName" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="house_detail_id" property="houseDetailId" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
    </resultMap>
    <select id="getTenantList" resultMap="BaseResultMap">
        select tenant_id,
               tenant_name,
               tenant_phone,
               tenant_card,
               create_time,
               update_time,
               create_name,
               update_name,
               sex,
               age,
               province,
               city,
               district,
               house_detail_id,
               lease_id,
               birthday,
               address
        from tenant te
            ${ew.customSqlSegment}
    </select>
    <select id="getTenantMaxNum" resultType="java.lang.Integer">
        select count(*) + 1
        from tenant
        where date_format(from_unixtime(LEFT(create_time,10)), '%Y-%m') = date_format(now(), '%Y-%m')
    </select>
</mapper>